@import './fixes/prevent-ios-input-zoom.scss';

html {
    font-size: 16px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.border-dotted{
    border-style: dotted !important;
}

.border-dashed{
    border-style: dashed !important;
}

.text-disabled {
    color: rgba(0,0,0,.38) !important;
}
.force-white {
    color: white !important;
}

.vue-daterange-picker {
    .form-control {
        padding: 0 !important;
        border: 0 !important;
        height: auto !important;
        width: 100% !important;
    }
}


.min-w-\[250px\] {
    min-width: 250px;
}

.cursor-pointer {
    cursor: pointer;
}

.no-select {
    user-select: none;
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@keyframes blinking {
    0% {
        background-color: white;
    }
    50% {
        background-color: greenyellow;
    }
    100% {
        background-color: white;
    }
}
.blinking {
    animation: blinking 1.5s ease-in-out;
}
