{% extends '::base.html.twig' %}

{% block content %}
    <div class="container pt-3">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="card xs-12">
            <div class="card-header">Anmeldung</div>

            <div class="card-body">
                <form class="sm-col-6 p2" action="{{ path("login") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <div class="form-group">
                        <label for="username">Benutzername</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="ion ion-md-person"></i></div>
                            </div>
                            <input autofocus placeholder="Benutzername" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="ion ion-md-unlock"></i></div>
                            </div>
                            <input class="form-control" placeholder="Passwort" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" checked />
                        <label class="block col-12 mb2" for="remember_me">
                            An mich erinnern
                        </label>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input class="btn btn-primary form-control" type="submit" id="_submit" name="_submit" value="Anmelden" />
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="ion ion-md-log-in"></i></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
