default:
    suites:
        acceptance:
            paths:
                - '%paths.base%/tests/Acceptance'
            contexts:
                -  App\Tests\Context\DomainIntegrationContext:
                       kernel: '@kernel'
                #                - behatch:context:debug
                - behatch:context:rest
                #-   App\Tests\Context\DomainIntegrationContext:
                #        kernel: '@kernel'
                -  App\Tests\Context\DatabaseContext:
                       kernel: '@kernel'
                -  App\Tests\Context\AcceptanceContext:
                       kernel: '@kernel'
                # - FailAid\Context\FailureContext

    extensions:
        Behatch\Extension: ~
        FailAid\Extension:
            screenshot:
                directory: /var/www/html/public/screenshots/
                # mode: default
                autoClean: true
                # size: 1444x1280
#        Bex\Behat\ScreenshotExtension:
#            active_image_drivers: url
#            image_drivers:
#                url:
#                    screenshot_directory: "/var/www/html/public/screenshots"
#                    screenshot_url: "http://swapp:8082/screenshots"
        FriendsOfBehat\SymfonyExtension: ~
        Robertfausk\Behat\PantherExtension: ~
        Behat\MinkExtension:
            files_path: "features/files/"
            # use this for local behat.yml
            # base_url: "http://localhost"
            base_url: "http://localhost:9080" # use web server of panther
            javascript_session: javascript
            default_session: javascript # symfony2
            sessions:
                javascript:
                    panther: ~
                    # use this for local behat.yml
                    # panther:
                    #    options:
                    #        # external_base_uri: http://localhost # same as base_url of mink
