# use this file for building the docker image
# and for running the development environment
version: '3.4'

services:
  web:
    build:
      context: ./web
      args:
        APP_ENVIRONMENT: 'dev'
    volumes:
      - ./web/:/var/www/html
      - ./.git:/var/www/html/.git
      - ../nginx-proxy/certs:/var/www/certs # adjust to the place of your nginx-proxy; just needed for webpack encore dev server
    restart: "no"
    ports:
      - 8080:8080 # adjust your own port for webpack encore here

  mysql:
    restart: "no"
    ports:
      - 8875:3306 # adjust your own port here
