includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
#        - %currentWorkingDirectory%/src/Migrations/Version*.php # sf4
        - %currentWorkingDirectory%/app/DoctrineMigrations/Version*.php # sf3
