{% extends '::base.html.twig' %}

{% block title %}CAAS Demo{% endblock %}
{% block content %}
    You finally are viewing the controller as a service demo. Congratulations!
    <br>
    <br>
    {{ flashBag.get('my_message')|default }}
    <br>
    {{ stdClass.name|default }}
    <br>
    {{ anotherStdClass.name|default }}
    <div class="swapp-basscss-container">basscss container</div>
{% endblock %}
