{# username string #}
{% extends 'emails/layout.html.twig' %}

{% block title %}Hallo {{ username }}!{% endblock %}

{% block content %}

    <p>
        Du bekommst diese E-Mail, da dein Passwort geändert wurde.
    </p>

    <p>
        <strong>
            Wenn du glaubst, dass dies ein Fehler ist, dann wende dich bitte an deinen Administrator
            <br>oder kontaktiere:</strong> <a href="mailto:info@streetworkapp.de">info@streetworkapp.de</a>.
    </p>
{% endblock %}
