{# username string #}
{# userId int #}
{# confirmationToken \App\Value\ConfirmationToken #}
{% extends 'emails/layout.html.twig' %}

{% block title %}Hallo {{ username }}!{% endblock %}

{% block content %}

    <p>
        Wir haben eine Anfrage zum Zurücksetzen Deines Passworts erhalten. Mit Hilfe des folgenden
        Links kannst Du Dein Passwort ändern:
    </p>

    <p>
        <a href="{{ url('user_password_reset', {'userId': userId, 'confirmationToken' : confirmationToken.token }) }}">{{ url('user_password_reset', {'userId': userId, 'confirmationToken' : confirmationToken.token }) }}</a>
    </p>

    <p>
        <strong>Hinweis:</strong> Solltest Du mehrere Anfragen gestellt haben, dann nutze bitte die Mail der letzten Anfrage.
    </p>

    <p>
        <strong>Du hast die Anfrage nicht ausgelöst?</strong>
        Dann kannst Du diese Mail ignorieren und löschen.
    </p>
{% endblock %}
