// this vars are imported in each file
// which gets loaded by webpack sassloader
// e.g. vars are available in every vue component

$primary: #03c4eb;
$secondary: #0f43ee;
$danger: #ff7c00;
$success: #00f236;
$info: #b2b3b5;
$black: #000000;
$white: #ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "info": $info,
  "white": $white,
  "black": $black,
);

$border-color: $blue;
$body-color: $white;
