{% extends '::base.html.twig' %}

{% block title %}Tags{% endblock %}
{% block body %}
    <div class="swapp-headline-container">
        <h1>
            Tags
        </h1>
    </div>
    <div class="swapp-password-change-container">
        <div class="mb1">
            <a href="walks" class="btn btn-primary">Walks</a>
            <a href="{{ path('tag_createform') }}" class="btn btn-primary">Tag erstellen</a>
            <input type="button" class="btn btn-primary" value="Input Button">
        </div>
    </div>

{% endblock %}
