{% extends '::base.html.twig' %}

{% block title %}swapp{% endblock %}

{% block content %}
    <div class="container pt-3">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}
