<table class="table-light">
    <thead>
    <tr>
        <th>{{ 'tag.overview.name'|trans }}</th>
        <th>{{ 'tag.overview.color'|trans }}</th>
    </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.getName }}</td>
                <td>{{ tag.getColor }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
