<div>
    <div class="d-inline-flex p-2 bd-highlight font-weight-bold">
        {{ key }}:
    </div>
    <div class="d-inline-flex p-2 bd-highlight">
        {{ value|nl2br }}
    </div>
</div>
{#<div class="clearfix border bg-silver">#}
    {#<div class="col col-12 px2">#}
        {#{{ value|nl2br }}#}
    {#</div>#}
{#</div>#}
