{% extends '::base.html.twig' %}

{% block title %}Streetwork-Runden{% endblock %}
{% block body %}
    <div class="swapp-headline-container">
    Streetwork-Runden
    </div>
    <div class="swapp-password-change-container">
        <form>
            <button class="btn btn-primary">Password ändern</button>
        </form>
    </div>
{% endblock %}
