<div class="clearfix">
    <div class="col col-12 bold px1 mt2">
        {{ key }}:
    </div>
</div>
<div class="clearfix border bg-silver">
    <div class="col col-12 px2">
        {{ value|nl2br }}
    </div>
</div>
