{% extends '::base.html.twig' %}

{% block title %}Streetwork-Runden{% endblock %}
{% block body %}
    <div class="swapp-headline-container">
        <h1>
            Streetwork-Runden
        </h1>
    </div>
    <div class="swapp-password-change-container">
        <div class="mb1">
            <a href="tag" class="btn btn-primary">Tags</a>
            <input type="button" class="btn btn-primary" value="Input Button">
        </div>
    </div>

{% endblock %}
