{% extends '::base.html.twig' %}

{% block title %}Tags{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="swapp-headline-container">
        <h1>
            Tags
        </h1>
    </div>
    <div class="swapp-password-change-container">
        <div class="mb1">
            <a href="{{ path('walk_home_screen') }}" class="btn btn-primary">zurück</a>
            <a href="{{ path('tag_create_form') }}" class="btn btn-primary">Tag erstellen</a>
        </div>
    </div>
    {{ include (':Tag:tagOverview.html.twig', {'key': 'tags', 'value': tags }) }}
{% endblock %}
