<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value="var/cache/.phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="vendor/projektmotor/symfony-coding-standard/ProjektMOTORCodingStandard/ruleset.xml">
    </rule>

    <exclude-pattern>./tests/object-manager.php</exclude-pattern>

    <rule ref="SlevomatCodingStandard.Classes.ForbiddenPublicProperty.ForbiddenPublicProperty">
        <exclude-pattern>src/Dto/LocationName.php</exclude-pattern>
        <exclude-pattern>src/Dto/TeamName.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint">
        <exclude-pattern>src/DataTransformer/*.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification">
        <exclude-pattern>src/DataTransformer/*.php</exclude-pattern>
        <exclude-pattern>src/Serializer/*Normalizer.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint">
        <exclude-pattern>src/Security/Voter/*Voter.php</exclude-pattern>
        <exclude-pattern>src/DataTransformer/*.php</exclude-pattern>
        <exclude-pattern>src/Filter/*Filter.php</exclude-pattern>
        <exclude-pattern>src/Serializer/*Normalizer.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue.NullabilityTypeMissing">
        <exclude-pattern>src/Notifier/*Notification.php</exclude-pattern>
        <exclude-pattern>src/Filter/*Filter.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification">
        <exclude-pattern>tests/Context/EmailTrait.php</exclude-pattern>
        <exclude-pattern>src/DataTransformer/*.php</exclude-pattern>
        <exclude-pattern>src/Filter/*Filter.php</exclude-pattern>
    </rule>
</ruleset>
