parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - %currentWorkingDirectory%/src/Migrations/Version*.php
        - %currentWorkingDirectory%/src/Kernel.php
        - %currentWorkingDirectory%/src/Serializer/Normalizer/DataUriNormalizer.php
        - %currentWorkingDirectory%/tests/object-manager.php
    ignoreErrors:
        - '#Method App\\Serializer\\(.+)Normalizer::normalize\(\) return type with generic class ArrayObject does not specify its types: TKey, TValue#'
        - '#Method App\\Filter\\WalksTimeRangeFilter::filterProperty\(\) has parameter \$value with no type specified\.#'
        - '#Method App\\Serializer\\Normalizer\\Base64DataUriNormalizer::denormalize\(\) has parameter \$context with no value type specified in iterable type array.#'
        - '#Method [a-zA-Z0-9\\_]+Requirements::getConstraints\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method .+(ClientImageNormalizer|WayPointImageNormalizer|WayPointExportNormalizer|WalkExportNormalizer)::normalize\(\) return type has no value type specified in iterable type array\.#'
        - '#Method .+(ClientImageNormalizer|WayPointImageNormalizer|WayPointExportNormalizer|WalkExportNormalizer|WayPointExportDataTransformer)::(denormalize|normalize|supportsNormalization|supportsTransformation|transform)\(\) has parameter \$(context) with no value type specified in iterable type (array)\.#'
        - '#Method App\\Repository\\DoctrineORM.+::.+\(\) should return .+ but returns mixed\.#'
        - '#Method App\\Repository\\DoctrineORM.+::.+\(\) should return .+ but returns Doctrine\\ORM\\Query<null, mixed>\.#'
